body {
  margin: 0;
  font-family: "MenloRegular";
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "MenloRegular";
  color: whitesmoke;
}
