.games{
    margin-left: 120px;

}

p {
    margin-bottom: 0;
}

#tetris{
    font-family: "MenloRegular";
    color: whitesmoke;
    width: 300px;
    height:300px;
    border-radius: 0;
    border-color: #929292;
    margin: 10px;
    margin-bottom: 0
}

#tictactoe{
    font-family: "MenloRegular";
    color: whitesmoke;
    width: 300px;
    height:300px;
    border-radius: 0;
    border-color: #929292;
    margin: 10px
}

#lights{
    font-family: "MenloRegular";
    color: whitesmoke;
    width: 300px;
    height:300px;
    border-radius: 0;
    border-color: #929292;
    margin: 10px
}

#pong{
    font-family: "MenloRegular";
    color: whitesmoke;
    width: 300px;
    height:300px;
    border-radius: 0;
    border-color: #929292;
    margin: 10px;
}