.tictacbody{
  background-color: transparent;
  color:#fff;
}

.stats{
  position: absolute;
  margin-top: 10px;
  margin-left: 650px;
}

.tictacbody{
  margin-top: 30px;
}

.tictacbutton:hover{
  cursor: pointer;
  color: #D992B1

}

.tictac{
  width: 300px;
  /* margin: 50px auto 0; */
}
div.boardtictac{
  display: grid;
  border: 0.5px solid transparent;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 100px;
  padding-left: 470px;
}

div.boardtictac:hover{
  cursor:pointer;
}

div.square{
  width: 200px;
  height: 200px;
  border: 0.5px solid #929292;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
}

.square.x
div.result{
  font-size: 2rem;
  padding: 10px;
  
}

@media only screen and (max-width: 600px) {
  div.square{
    width: 90px;
    height: 90px;
    border: 0.5px solid #929292;
    box-sizing: border-box;
    font-size: 4rem;
    text-align: center;
  }
  .stats{
    position: absolute;
    margin-top: 10px;
    margin-left: 82px;
}
div.boardtictac{
  display: grid;
  border: 0.5px solid transparent;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-top: 100px;
  padding-left: 60px;
}
  
  }


/* div.result.green{
  background-color: #5a5;
}
div.result.red{
  background-color: #a55;
} */