.BoardCell {
  width: auto;
  border-radius: 6px;
  position: relative;
}

/* .tetromino {
  border-top: 3px solid rgbwhite;
  border-left: 3px solid rgbwhite;
  border-bottom: 3px solwhite;
  border-right: 3px solwhite;
} */

/* .tetromino .Sparkle {
  position: absolute;
  z-index: 10;
  width: 6px;
  height: 6px;
  left: -2px;
  top: -2px;
  border-radius: 4px 4px;
} */

.tetromino.ghost {
  background-color: transparent;
  border: 0.5px solid rgba(255, 255, 255, 0.2);
}

/* .tetromino.ghost .Sparkle {
  opacity: 0;
} */

.tetromino__i {
  border: 0.5px solid #B8A6BB;
  background-color: transparent;
}
.tetromino__j {
  border: 0.5px solid #D992B1;
  background-color:transparent;
}
.tetromino__l {
  border: 0.5px solid #76AEBB;
  background-color: transparent;
}
.tetromino__o {
  border: 0.5px solid #8FB270;
  background-color: transparent;
}
.tetromino__s {
  border: 0.5px solid #D18A68;
  background-color: transparent;
}
.tetromino__t {
  border: 0.5px solid #D9CF37;
  background-color: transparent;
}
.tetromino__z {
  border: 0.5px solid #929292;
  background-color: transparent;
}
