.GameStats {
  position: absolute;
  width: 32vw;
  list-style-type: none;
}

.GameStats__right {
  right: 5;
  bottom: 0;
  text-align: right;
}

.GameStats .value {
  font-size: 1.5rem;
  margin-bottom: 0.5em;
  color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 600px) {
  .GameStats .value{
    font-size: 1rem;
    margin-bottom: 0.5em;
  }

.GameStats{
  position: relative;
  padding: -10px;
  
}
}


